footer.footer {
    background-color:#4b686b; /* Dark background */
    color: #5f5959; /* Light text */
    padding: 1rem 0; /* Top and bottom padding */
    border-top: 1px solid grey;
  }
  
  footer.footer .container {
    display: flex;
    justify-content: space-between; /* Evenly distribute columns */
  }
  
  footer.footer h3 {
    margin-bottom: 1.5rem; /* Space below heading */
    font-size: 1.2rem; /* Adjust heading size */
    font-weight: bold; /* Bold text */
  }
  
  footer.footer p {
    line-height: 1.5; /* Adjust line spacing for better readability */
  }
  
  footer.footer ul {
    list-style: none; /* Remove default list style */
    padding: 0; /* Remove default padding */
  }
  
  footer.footer li {
    margin-bottom: 1rem; /* Space between list items */
  }
  
  footer.footer li i {
    margin-right: 10px; /* Space between icon and text */
    color: #ffc107; /* Orange accent color for icons */
  }
  
  /* Media queries for responsive adjustments */
  @media (max-width: 768px) {
    footer.footer .container {
      flex-direction: column; /* Stack columns on smaller screens */
      align-items: center; /* Center content vertically */
    }
  
    footer.footer h3 {
      text-align: center; /* Center headings on smaller screens */
    }
  }
  