<div class="pt-5">
    <div class="container mt-5 d-flex bg-white justify-content-between py-lg-5 ">

        <div class="">
            <h5 class="text-muted text-uppercase ">My Profile</h5>
            <p class="mt-lg-4 card-text fs-5">Name: <span class=" ms-3 border-bottom "> {{ userName }}</span></p>
            <p class="mt-lg-3 card-text fs-5">Email: <span class=" ms-3 border-bottom fst-italic  "> {{ userEmail
                    }}</span></p>

            <button class="btn btn-primary mt-lg-5" routerLink="/cart">Go To Cart</button>
        </div>

        <div>
            <img src="../../../assets/images/bprofile.png" alt="" class="img-fluid img-thumbnail ">
        </div>
    </div>


</div>